angular-zoom-directive {
  position: relative; }
  angular-zoom-directive .azd-zoomed-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    box-shadow: 0; }
    angular-zoom-directive .azd-zoomed-container.show {
      opacity: 1;
      visibility: visible;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
    angular-zoom-directive .azd-zoomed-container img {
      position: absolute;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      pointer-events: none; }
  angular-zoom-directive .azd-thumb-container {
    display: block;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center; }
    angular-zoom-directive .azd-thumb-container .overlay {
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1002;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
    angular-zoom-directive .azd-thumb-container .zoom-loading {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.2);
      top: 0;
      left: 0;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
    angular-zoom-directive .azd-thumb-container img {
      width: 100%;
      z-index: -1;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      pointer-events: none; }
  angular-zoom-directive .azd-message {
    position: absolute;
    top: 0;
    padding: 8px 0;
    background-color: rgba(250, 250, 250, 0.3);
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300; }
